<div class="row">
  <!--<a (click)="changeLanguageToEnglish();">click</a>
  <a (click)="changeLanguageToSpanish();">click2</a>-->
    <div class="col-12">        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" [translate]="'header.home'"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/listado']" [translate]="'header.lista'"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/busqueda']">{{'header.busqueda' | translate}}</a>
                  </li>
                </ul>
              </div>
              <button button class=" btn btn-primary" type="button" [translate]="'header.language'" (click)="changeLanguage()"></button>
            </div>
          </nav>  
    </div>
  </div>
